*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
.clear{ clear:both;}
body{
    width: 400px;
    margin: 0 auto;
}
#form{
    background-color: aqua;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}
.txt{
    width: 60%;
    height: 30px;
    border-radius: 1px;
    margin-bottom: 5px;
    padding: 10px
}
.bt{
    display: inline-block;
    width: 20%;
    margin-top: 10px;
}